<form action="/figures" method="post">
  <label for="figure[name]">Figure Name</label>
  <input id= 'figure_name' type="text" name="figure[name]">

  <label for="figure[title_ids][]">Title ID</label>
  <input type="text" name="figure[title_ids][]">

  <label for="figure[landmark_ids][]">Landmark ID</label>
  <input type="text" name="figure[landmark_ids][]">

  <label for="landmark[name]">Landmark Name</label>
  <input id = "new_landmark" type="text" name="landmark[name]">

  <label for="title[name]">Title</label>
  <input id= "new_title" type="text" name="title[name]" >

  <h2>Titles</h2>
  <% @titles.each do |title| %>
    <p><%= title.name %><input id= "title_<%=title.id%>" type="checkbox" name="title[name]" value="<%= title.name %>"></p>
  <% end %>

  <h2>Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <p><%= landmark.name %><input id= "landmark_<%=landmark.id%>" type="checkbox" name="landmark[name]" value="<%= landmark.name %>"></p>
  <% end %>

  <input type="submit" name="" value="Create New Figure">

</form>
